{# {% autoescape on %} #}
{% filter spaceless %}
{% filter sanitize %}

<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block title %}
        {% if page.title %}
            <title>{{ page.title }}</title>

        {% else %}
            <title>{{ site.title }}</title>

        {% endif %}
    {% endblock title %}


    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">

    {% else %}
        <meta name="description" content="{{ site.description }}">

    {% endif %}

    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' }}">
    <link rel="shortcut icon" href="{{ '/apple-touch-icon.png' }}">

    {% for font in fonts %}
    <link rel="stylesheet" href="{{ font }}" async defer>
    {# <link rel="stylesheet" href=""> #}
    {% endfor %}


    {% for style in defaultStyles %}
        <link rel="stylesheet" href="{{ style }}" async defer>
    {% endfor %}

    {% for style in styles %}
        <link rel="stylesheet" href="{{ style }}" async defer>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async defer></script>
</head>
<body {% if bodyClasses %}class="{% for class in bodyClasses %}{{ class }} {% endfor %}"{% endif %}>

    {% block header %}
        {% include "partials/header" %}
    {% endblock header %}


    <div class="page-container container">

        {% block mainNav %}
        {% include "partials/navigation" %}
        {% endblock mainNav %}


        {% block aboveBody %}
        {% endblock aboveBody %}


        <main class="body-content row">
        {% block content %}
            <h1>{{ title }}</h1>
            {{ content|safe }}
        {% endblock content %}
        </main>

        {% block footer %}
        <footer class="footer-block row">
            <nav class="">
            {% for nav in navi.footer %}
                <a href="{{ nav.link }}">{{ nav.title }}</a>
            {% endfor %}
            </nav>

            <hr>

            <div class="row text-center">
                ©{{ date.year }} — {{ site.legalName }} All Rights Reserved.
            </div>

        </footer>
        {% endblock footer %}
    </div>

    {% for script in defaultScripts %}
        <script src="{{ script }}"></script>
    {% endfor %}

    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}


    {% if not debug %}
    <script type="text/javascript">
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','{{ analytics.google }}','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endif %}

    <script>var window.model = {{ post|dump }}</script>


</body>
</html>

{% endfilter %}
{% endfilter %}
{# {% endautoescape %} #}
